<nav class="navbar navbar-expand-lg bg-secondary bg-opacity-25" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid" style="max-width: 1000px;">
        <a class="navbar-brand" href="/">
            <h2 class="mr-4 text-danger" style="font-weight: bold;">Moto.bg</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Начало</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/motorcycles">Мотори</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <div sec:authorize="isAnonymous" class="d-flex gap-2">
                    <button class="btn btn-danger" onclick="window.location.href='/sign-in';">Вход</button>
                    <button class="btn btn-danger" onclick="window.location.href='/sign-up';">Регистрация</button>
                </div>

                <div sec:authorize="isAuthenticated()" class="d-flex align-items-center gap-2">
                    <div class="dropdown">
                        <button sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                            Администраторски панел
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/motorcycles/add">Добави автомобил</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-danger" onclick="window.location.href='/profile';">
                        Профил
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dropdownToggle = document.getElementById('dropdownMenuLink');
        const dropdownMenu = document.querySelector('.dropdown-menu');
        dropdownToggle.addEventListener('click', function (event) {
            event.preventDefault();
            if (dropdownMenu.classList.contains('show')) {
                dropdownMenu.classList.remove('show');
            } else {
                dropdownMenu.classList.add('show');
            }
        });
    });
</script>