<nav class="navbar navbar-expand-lg bg-secondary bg-opacity-25 backdrop-blur"
     xmlns:sec="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="container-fluid" style="max-width: 1000px;">

        <a class="navbar-brand d-flex align-items-center gap-2" href="/">
            <span class="fs-3 fw-bold text-danger">Moto.bg</span>
        </a>

        <button class="navbar-dark navbar-toggler border-0 text-white"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-lg-2">
                <li class="nav-item">
                    <a class="nav-link text-white fw-semibold" href="/">
                        Начало
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-semibold" href="/motorcycles">
                        Мотори
                    </a>
                </li>
            </ul>

            <!-- GUEST -->
            <div sec:authorize="isAnonymous()" class="d-flex gap-2">
                <a href="/sign-in" class="btn btn-outline-danger fw-semibold">
                    Вход
                </a>
                <a href="/sign-up" class="btn btn-danger fw-semibold">
                    Регистрация
                </a>
            </div>

            <!-- AUTHENTICATED -->
            <div sec:authorize="isAuthenticated()" class="d-flex align-items-center gap-2">

                <div class="dropdown" sec:authorize="hasAuthority('ADMIN')">
                    <button class="btn btn-danger dropdown-toggle fw-semibold"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Админ панел
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark shadow">
                        <li>
                            <a class="dropdown-item" href="/motorcycles/add">
                                Добави мотор
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/motorcycles/deleted">
                                Продадени
                            </a>
                        </li>
                    </ul>
                </div>

                <a href="/profile" class="btn btn-danger fw-semibold">
                    Профил
                </a>
            </div>

        </div>
    </div>
</nav>
