<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body class="bg-dark">
<nav th:replace="~{fragments/navbar}"></nav>
<main>
    <div class="container mt-5" style="max-width: 600px;">
        <form th:action="@{/sign-in}" method="post" class="bg-secondary bg-opacity-25 shadow-sm p-4 rounded">
            <h1 class="text-center text-white mb-4">Вход</h1>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Невалидно потребителско име/имейл или парола.
            </div>
            <div th:if="${param.logout}" class="alert alert-warning" role="alert">
                Излязохте от профила си.
            </div>

            <div class="form-group mb-4">
                <label for="usernameOrEmail" class="text-white mb-1">Потребителско име или имейл</label>
                <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control" placeholder="Въведете потребителско име или имейл">
            </div>

            <div class="form-group mb-4">
                <label for="password" class="text-white mb-1">Парола</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Въведете парола">
            </div>

            <input type="submit" class="btn btn-danger mb-2 w-100" value="Вход"/>

            <hr class="mb-2 border-white">

            <div class="d-flex justify-content-center">
                <a href="/sign-up" class="text-white text-decoration-none">Все още нямаш акаунт?</a>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
